@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Ubuntu&display=swap');
@font-face {
    font-family: 'Marcelus SC';
    src: url(fontes/Marcellus_SC/MarcellusSC-Regular.ttf) format(opentype);
    font-weight: normal;
}
@font-face {
    font-family: 'Ubunto';
    src: url(fontes/Ubuntu-Regular.ttf) format(opentype);
    font-weight: normal;
}

:root{
    --cor0:#454033;
    --cor0transp:#4540339a;
    --cor1:#2c3245;
    --cor2:#918B7A;
    --cor3:#7A7F91;
    --cor4:#dedad1;
    --cor4transp:#dedad1f3; 
    --cor5:white;
    --cor6:black;

    --fonte-reserva: Arial,Helvetica, sans-serif;
    --fonte-padrao: 'Ubunto';
    --fonte-destaque: 'Marcelus SC';
}
*{
    margin: 0%;
    padding: 0%;
    font-family:  var(--fonte-destaque), var(--fonte-reserva);
    text-decoration: none;
    
    
}

body{
    background: black url(Imagens/note-mesa-claro.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 2px 2px 5px black;

}
header{
    background-color:var(--cor0transp);
    height: 130px;
    width: 100vw;
    padding: 0% 6% 3% 0%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position:fixed;
    top: 0;
    left: 0;
}
header h1{
    padding: 2% 0% 0% 0%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    letter-spacing: -2px;
    font-weight: 50;
    font-size: calc(6vh + 1.5vw);
    color: var(--cor4);
    position: absolute;
    bottom: 7vh;
    right: 9vw;
}

header p{
    color: var(--cor3);
    letter-spacing: 3px;
    font-size:calc(1vw + 1.1vw);
    position: absolute;
    bottom: 3vh;
    right: 9vw;
}

img#fotoperfil{
    max-width: 30vh;
    border-radius: 1% 1% 50% 1%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);
    position: absolute;
    top: 2px;
    left: 2px;
}

img#fotoperfil:hover{
    position: relative;
    top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
}

.sobrenomeds{
    font-size: 1em;
}
@media screen and (max-width:700px){
    .sobrenomeds{display: none;}}

@media screen and (min-width:1150px){
    .sobrenomeds{display: none;}}

.sobrenomedamazio{
    font-size: 1em;
}
@media screen and (max-width:1150px){
    .sobrenomedamazio{display: none;}}

@media screen and (min-width:1350px){
    .sobrenomedamazio{display: none;}}

.sobrenomecompleto{
    font-size: 1em;
}
@media screen and (max-width:1350px){
    .sobrenomecompleto{display: none;}
}

nav{
    text-shadow: 2px 2px 5px white;
    padding: 0px 5.3% 0px 0px;
    margin:0px;
    opacity: 0.97;
    position: fixed;
    top: 154px;
    right:0;
}

nav > a{
    background-image: linear-gradient(var(--cor1), var(--cor3));
    color: var(--cor0);
    font-size: 5vh;
    margin-left: -3px;
    padding:9px 5px 9px 5px;
    border-radius: 0px 0px 0px 10px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.719);
}

a:hover{
    position: relative;
    top: 3px;
    text-align: center;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.719);
    

}

main {
    font: normal 1em var(--fonte-padrao), var(--fonte-reserva);
    text-align: justify;
    text-indent: 30px;
    min-width: 300px;
    margin: 140px 6% 5% 6%;
    padding: 120px 35px 20px 35px;
    background-color: var(--cor4transp);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
    position: static;

}

footer{
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.699);
    text-align: center;
    padding-top: -245vh;
    position: relative;    
}


