@charset "utf-8";
@font-face {
    font-family: play;
    src: url(../fontes/Ubunto/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: playbold;
    src: url(../fontes/Ubunto/Ubuntu-Bold.ttf);
}

:root{
    --cor0:#260126;
    --cor1:#025951;
    --cor2:#010D00;
    --cor3:#F2F2F2;
    --cor4:#202119;
    --cor5: rgba(255, 255, 255, 0.801); 
}


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    text-decoration: none;
    font-family: play, Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar{
    width: 0;
    height: 0;
}


header{
    position: relative;
    background-color: var(--cor4);
    width: 99.9%;
    height: 90px;
    
}

header> img#logo{
    position: absolute;
    height: 50%;
    top: 25%;
    left: 1%;
    padding-left: 10px;
}

body{
    position: relative;
    background-color: var(--cor1);
}
/* section perfil*/
section#perfil{
    position: relative;
    top: 5px;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 5px black;
}

#imgperfil{
    position: absolute;
    top: 15vh;
    left: -12vw;
    border-radius: 0% 50% 50% 0%;
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);

}

h1#ola{
    position: absolute;
    top: 7vh;
    right: 0vw;
    width: 200px;
    font-size: 4em;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

p#tenho{
    position: absolute;
    top: 35vh;
    right: 0vw;
    width: 130px;
    text-align: right;
    font-size: 1.2em;
    margin: 5px 0px;
    color: #f2f2f259;
}

p#sou{
    position: absolute;
    top: 60vh;
    right: 0vw;
    width: 340px;
    font-size: 2em;
    text-align: right;
    color: #f2f2f27e;
}

/* section habilidades */
section#habilidades{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor5);
    box-shadow: 2px 2px 5px black;
}
h2.hab{
    position: absolute;
    top: 30vh;
    left: 2vw;
    color: var(--cor1);
    width: 380px;
    text-align: center;
    font-size: 1.7em; 
}

p.hab{
    position: absolute;
    top: 40vh;
    left: 2vw;
    color: var(--cor0);
    width: 380px;
    text-align: center;
    font-size: 2em;
}

/* section formação */
section#formação{
    position: relative;
    width: 400px;
    height: 101vh;
    margin: auto;
    background-color: var(--cor0);
    box-shadow: 2px 2px 5px black;
    background-color: var(--cor0);
}
#formação h2 {
    color: var(--cor0);
    font-size: 5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

#formação p{
    width: 300px;
    font-size: .8em; 
    background-color: var(--cor1);
    color: var(--cor0);
    box-shadow: 1px 1px 3px var(--cor4);
    text-align: right;
    border-radius: 20px 0% 0% 20px;
    padding: 30px;
}
p#automação{
    position: absolute;
    top: 20vh;
    right: 0vw;
}
p#logistica{
    position: absolute;
    top: 40vh;
    left: 0vw;
    border-radius: 0px 20px 20px 0px;
    text-align: left;
}
p#psi{
    position: absolute;
    top: 60vh;
    right: 0vw;
}

.str{
    color: var(--cor3);
    font-size: 2em;
    text-shadow: 1px 1px 3px var(--cor2);
}

p#base{
    background-color: transparent;
    box-shadow: none;
    color: var(--cor3);
    padding-top: 78vh;
    margin: auto;
    width: 300px;
    text-align: justify;
    text-indent: 40px;
    font-size: 0.83em; 
    text-shadow: 1px 1px 3px#010D00;
}

/* section objetivo */
section#objetivo{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor5);
    box-shadow: 2px 2px 5px black;
}

p.busco{
    padding-top: 12vh;
    margin: auto;
    width: 357px;
    text-align: center;
    font-size: 1.6em;     
}

/* section Portifólio */

section#portifolio{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    width: 400px;
    height: 109vh;
    margin: auto;
    background-color: var(--cor2);
    background-image: url(../Imagens/codigo.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 2px 2px 5px black; 
}

h2#port{
    width: 380px;
    font-size: 5em;
    background-image: url(../Imagens/codigo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.janela{
    width: 49%;
    padding-left: 249px;
}

div.janela:hover{
    transition: .3s;
    padding-left: 0px;
    width: 115%;
    .textolink{
        display: block;
    }
}

.linksProj{
    display: flex;
    align-items: center;
    background-color: var(--cor5);
    color: var(--cor4);
    width: 96%;
    border-radius: 100px 0px 0px 100px;
    box-shadow: 3px 3px 5px black;
}

.linksProj > img{
    width: 190px;
    border-radius: 50% 0% 0% 50%;
}

.textolink{
    display: none;
    font-size: 2.2em;
    text-align: center;
    padding: 10px;
}

/* section Contato */
section#contato{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor5);
    box-shadow: 2px 2px 5px black;
}







