@charset "utf-8";
:root{
    --cor0:#260126;
    --cor1:#025951;
    --cor2:#010D00;
    --cor3:#F2F2F2;
    --cor4:#202119;
    --cor5: rgba(255, 255, 255, 0.801); 
}


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header{
    position: relative;
    background-color: var(--cor4);
    width: 99.9%;
    height: 90px;
    
}

header> img#logo{
    position: absolute;
    height: 50%;
    top: 25%;
    left: 1%;
    padding-left: 10px;
}

body{
    position: relative;
    background-color: var(--cor1);
}
/* section perfil*/
section#perfil{
    position: relative;
    top: 5px;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor0);
    color: var(--cor1);
    box-shadow: 2px 2px 5px black;
    
}

#imgperfil{
    position: absolute;
    top: 15vh;
    left: -12vw;
    border-radius: 0% 50% 50% 0%;
    width: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);

}

h1#ola{
    position: absolute;
    top: 7vh;
    right: 0vw;
    width: 200px;
    font-size: 4em;
    text-align: right;
}

p#tenho{
    position: absolute;
    top: 35vh;
    right: 0vw;
    width: 150px;
    text-align: right;
    font-size: 1.5em;
    margin: 5px 0px;
    color: #f2f2f259;
}

p#sou{
    position: absolute;
    top: 60vh;
    right: 0vw;
    width: 340px;
    font-size: 2em;
    text-align: right;
    color: #f2f2f27e;
}

/* section objetivo */
section#objetivo{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor5);
    color: var(--cor4);
    box-shadow: 2px 2px 5px black;
}

/* section habilidades */
section#habilidades{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor5);
    box-shadow: 2px 2px 5px black;
}
h2.hab{
    position: absolute;
    top: 30vh;
    left: 2vw;
    color: var(--cor1);
    width: 380px;
    text-align: center;
    font-size: 1.7em; 
}

p.hab{
    position: absolute;
    top: 40vh;
    left: 2vw;
    color: var(--cor0);
    width: 380px;
    text-align: center;
    font-size: 2em; 
}

p.busco{
    padding-top: 12vh;
    margin: auto;
    color: #010d00d8;
    width: 357px;
    text-align: center;
    font-size: 1.6em;    
}

/* section formação */
section#formação{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor0);
    box-shadow: 2px 2px 5px black;
}

p#automação{
    position: absolute;
    top: 10vh;
    right: 0vw;
    width: 300px;
    font-size: 1.2em; 
    background-color: var(--cor1);
    color: var(--cor0);
    box-shadow: 1px 1px 3px var(--cor1);
    text-align: right;
    border-radius: 20px 0% 0% 20px;
    padding: 20px;
}
p#logistica{
    position: absolute;
    top: 30vh;
    left: 0vw;
    width: 250px;
    font-size: 1.2em;
    background-color: var(--cor1);
    color: var(--cor0);
    box-shadow: 1px 1px 3px var(--cor1);
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
}
p#psi{
    position: absolute;
    top: 55vh;
    right: 0vw;
    width: 300px;
    font-size: 1.2em;
    background-color: var(--cor1);
    color: var(--cor0);
    box-shadow: 1px 1px 3px var(--cor1);
    text-align: right;
    border-radius: 20px 0% 0% 20px;
    padding: 20px;
}

.str{
    color: var(--cor3);
    font-size: 1.5em;
}

p#base{
    color: var(--cor1);
    padding-top: 82vh;
    margin: auto;
    width: 300px;
    text-align: justify;
    text-indent: 40px;
    font-size: 0.9em; 
}

/* section Portifólio */

section#portifolio{
    position: relative;
    width: 400px;
    height: 100vh;
    margin: auto;
    background-color: var(--cor2);
    box-shadow: 2px 2px 5px black;    
}

h2#port{
    position: absolute;
    top: 10vh;
    left: 0vw;
    color:var(--cor3);
    width: 380px;
    font-size: 3em;
}



