@charset "utf-8";
:root{
    --cor0:#260126;
    --cor1:#025951;
    --cor2:#010D00;
    --cor3:#F2F2F2;
    --cor4:#202119;
    --cor5: rgba(255, 255, 255, 0.801); 
}


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header{
    background-color: var(--cor4);
    width: 100vw;
    height: 120px;
}

header> img#perfil{
    border-radius: 50%;
}
header> img#logo{
    height: 120px;
    padding-left: 15px;
}

section#perfil>h1#ola{
    font-size: 3em;
    padding: 20px;
}

section#perfil>p{
    font-size: 3em;
    padding: 20px;
}



